@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<section class="content-header">
    <h1>
        @ViewBag.Title.
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body pad">
                    <p>
                        Please check your email to reset your password.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

